<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLMayTinh.Properties.Settings.ComputerManagerConnectionString" connectionString="Data Source=VINH-PC\SQLEXPRESS;Initial Catalog=ComputerManager;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
