<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLMonAn.Properties.Settings.QLMAConnectionString"
            connectionString="Data Source=PAUL\SQLEXPRESS;Initial Catalog=QLMA;User ID=sa;Password=1234567"
            providerName="System.Data.SqlClient" />
        <add name="QLMonAn.Properties.Settings.QLNVConnectionString"
            connectionString="Data Source=PAUL\SQLEXPRESS;Initial Catalog=QLNV;Persist Security Info=True;User ID=sa;Password=1234567"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>